@page
@model Biblio.BackOffice.Pages.Admin.Books.CreateModel
@{
  ViewData["Title"] = "Create";
}
<h2>Create Book</h2>

<form method="post">
  <div>Title <input name="Book.Title" /></div>
  <div>Author <input name="Book.Author" /></div>
  <div>Category <input name="Book.Category" /></div>
  <div>Year <input name="Book.Year" /></div>
  <div>Summary <input name="Book.Summary" /></div>
  <button type="submit">Create</button>
  <a href="/Admin/Books">Back</a>
</form>
