@page
@model Biblio.BackOffice.Pages.Admin.Export.IndexModel
@{
  ViewData["Title"] = "Export PDF";
}
<h2>Export PDF</h2>

<form method="post">
  <button type="submit">Download report.pdf</button>
</form>
